.sign-in-to {
  position: relative;
}
.dont-have-an {
  line-height: 20px;
}
.create-account,
.dont-have-an {
  position: relative;
  font-weight: 500;
}
.create-account-wrapper {
  flex-direction: row;
  align-items: center;
  color: var(--color-mediumblue);
}
.create-account-wrapper,
.dont-have-an-account-parent,
.header {
  display: flex;
  justify-content: flex-start;
}
.dont-have-an-account-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--plus-jakarta-size);
}
.header {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.label {
  align-self: stretch;
  position: relative;
}
.mail-outline-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.text14 {
  flex: 1;
  position: relative;
}
.north-east-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.mail-outline-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--neutral-7);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--h5-regular-size);
  color: var(--neutral-7);
}
.text-field1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.text-field,
.text-field1,
.text-field2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field2 {
  width: 384px;
  gap: var(--gap-5xs);
}
.text-field {
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--judul-singkat-size);
  color: var(--primary-7);
}
.button14 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.button13 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-4);
  width: 384px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.forget-password {
  position: relative;
  font-size: var(--plus-jakarta-size);
  font-weight: 500;
  color: var(--color-mediumblue);
  text-align: left;
}
.form,
.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame {
  align-items: center;
  font-size: var(--h5-regular-size);
  color: var(--character-primaryinverse);
}
.form {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--neutral-2);
  padding: 48px 96px;
  align-items: flex-start;
}
.decorative-image-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.form-login {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  width: 1064px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.image-23-icon {
  position: absolute;
  top: 0;
  left: 576px;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  width: 488px;
  height: 532px;
  object-fit: cover;
}
.form-login-parent {
  position: absolute;
  top: 167px;
  left: 188px;
  width: 1064px;
  height: 532px;
}
.environthink2 {
  position: relative;
  line-height: 22px;
}
.environthink-berfokus-pada3 {
  margin: 0;
}
.environthink-berfokus-pada-container7 {
  line-break: anywhere;
}
.environthink-berfokus-pada-container6 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  display: flex;
  color: var(--character-primaryinverse);
  align-items: center;
  height: 108px;
  flex-shrink: 0;
}
.environthink-container {
  width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  color: var(--color-lime);
}
.phone-icon3 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.informasi-kontak-parent1,
.phone-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.informasi-kontak-parent1 {
  width: 500px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-parent20,
.ikuti-sosial-media-kami-parent1,
.instagram-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.instagram-wrapper1 {
  border-radius: var(--br-5xs);
  background-color: var(--character-primaryinverse);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.06);
  padding: var(--padding-3xs);
}
.frame-parent20,
.ikuti-sosial-media-kami-parent1 {
  gap: var(--gap-5xs);
}
.ikuti-sosial-media-kami-parent1 {
  flex-direction: column;
  gap: var(--gap-base);
}
.frame-parent18 {
  width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.line-div {
  position: relative;
  border-top: 1px solid var(--character-primaryinverse);
  box-sizing: border-box;
  width: 1321px;
  height: 1px;
  flex-shrink: 0;
}
.ant-designcopyright-circle-ou-icon3 {
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  overflow: hidden;
}
.copyright-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.indonesia3 {
  position: relative;
  line-height: 22px;
  text-align: right;
}
.footer3,
.frame-parent21 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent21 {
  width: 1320px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-702xl);
}
.footer3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-mediumseagreen);
  backdrop-filter: blur(10px);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-41xl);
  align-items: flex-start;
  gap: var(--gap-10xs);
  text-align: left;
  font-size: var(--plus-jakarta-size);
  color: var(--character-primaryinverse);
  font-family: var(--plus-jakarta);
}
.icbaseline-remove-red-eye-icon {
  position: absolute;
  top: 478px;
  left: 628px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.image-26-icon4 {
  position: absolute;
  top: 19px;
  left: 65px;
  width: 269px;
  height: 61px;
  object-fit: cover;
}
.login {
  position: relative;
  background-color: var(--character-primaryinverse);
  width: 100%;
  height: 957px;
  overflow: hidden;
  text-align: center;
  font-size: var(--web-heading-bold-2-size);
  color: var(--color-black);
  font-family: var(--web-body-medium);
}
